.slides {
  height: 100%;
}

.slides .slide {
  width: 100%;
  position: absolute;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}
.slidetitles {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-shadow: 0px 0px 10px white;
}

.white-text {
 color: white;
 text-shadow: 0px 0px 10px black;
}

.slides .slide.active {
  opacity: 1;
}
.slidecont {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 1;
  transform: translateY(50px);
  transition: all 0.7s;
  opacity: 0;
  transition-delay: 0.4s
}
.white .slidecont {
  color: #fff
}
.white .slidecont button {
  background-color: #fff;
  color: #000
}
.active .slidecont {
  transform: initial;
  opacity: 1;
}
.slidecont > * {
  transition: all 0.3s;
}
.slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.slide button {
  flex-direction: row-reverse;
}
.slide .appbtn {
  margin: 5px 10px;
}
.slide .appbtn:hover {
  margin: 5px 0px;
  transform: translateY(10px);
}
.pause i:hover {
  color: var(--theme-color)
}
.leftimg {
  display: flex;
  gap: 10px;
  padding-bottom: 3%;
}
.leftimg .slidecont .slidetitles {
  flex-direction: column-reverse
}
.leftimg .img2 {
  width: 50%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  transition: all 1s;
  transform: translateX(-80px);
}
.active .img2 {
  left: 0;
  opacity: 1;
  transform: translateX(0);
}
.img2 img {
  widows: 100%;
  z-index: 1;
  object-fit: contain;
  max-height: 6;
  max-height: 400px;
  top: 50%;
  transform: translateY(-50%);
}
.slides .center  {
  justify-content: center
}
.center .slidecont {
  text-align: center
}
.center .slidecont a {
  justify-content: center;
  display: flex;
}
.appbtn {
  padding: 10px;
  background-color: #00AB55;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgb(0 171 85 / 24%);
}
.reverse {
  flex-direction: row-reverse;
}
.appbtn i {
  color: #fff;
}

.reverse i {
  margin-left: 15px;
}

.appbtn:hover {
  background-color: #00AB55
}
.logincont .googlebtn{
  background-color: #dd4b39;
  color: #fff;
  border: solid 1px rgba(0, 0, 0, 0);
  display: flex;
 }
 .diflogin {
   display: flex;
   justify-content: center;
   height: 35px;
   align-items: center;
 }
 .diflogin i {
   position: absolute;
   left: 25px
 }
 .logincont .googlebtn:hover, .logincont .facebookbtn:hover {
   filter: brightness(95%);
 }
 
 .logincont .facebookbtn {
  background-color: #4c69ba;
  color: white;
  border: solid 1px rgba(0, 0, 0, 0)
 
 }
 .logincont .facebookbtn i {
  color: white;
 }
 
 .logincont .facebookbtn:active,.logincont .googlebtn:active {
   transform: scale(0.98)
 }
 .outline {
  background-color: #fff;
  color: #000;
  border: solid 1px #222
}
 .outline:hover {
  background-color: #222;
  color: #fff;
  border: solid 1px transparent
}

.slidebackground {
  object-fit: cover;
}
.left {
  padding-left: 20%;
}

@media only screen and (max-width: 768px) {
  .slides .slide {
    padding-left: 0;
    flex-direction: column;
  }
  .slidecont {
    margin: 10px;
  }
  .leftimg .img2 {
    margin-top: 50px;
  }
  .left {
    padding-top: 70%;
  }
}